@use "../../base" as *;

.sb-btn {
  border-radius: 12px;
  padding: 10px 16px;
  font-weight: 600;
  @include sb-focus;

  &--primary {
    color: #111;
  }

  &--ghost {
    background: transparent;
  }
}