@use "../../base" as *;

.sb-form {
  label {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.85);
  }

  &__control {
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid $sb-border;
    color: $sb-text;

    &::placeholder {
      color: rgba(255, 255, 255, 0.45);
    }

    @include sb-focus;
  }

  &__submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 160px;
  }
}